body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {font-family: Palatino,'Palatino Linotype', serif;
	font-size: 64px;
  color: black;
}

h2 {
	font-size: 74px;
	color: rgb(46,105,163);
}


.hero {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  color: #ffffff;
	padding: 250px 0;
	margin: 30px;
	 background-image:url("https://image.freepik.com/vecteurs-libre/fond-jour-paques-joyeux-dessine-main_23-2148084810.jpg ");
  background-size: cover;

p {
font-size: 2rem;
	font-style: italic;
}

.hero a {
	color: green;
	font-size: 2.25em;
	text-decoration: none;
}
#footer {
  font-size: 1.75rem;
}

